node_modules
dist
coverage
.git
.gitignore
.github
.env
.env.*
!.env.example
.vscode
.idea
.DS_Store
*.log
npm-debug.log*
README.md
Dockerfile
docker-compose.yml
test
**/*.spec.ts
.eslintrc.js
.prettierrc
.nvmrc
